
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Benefactor/Views/Shared/_LayoutBagis.cshtml";
}

<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Yapılan Bağişlar</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Hangi Hastaya</th>
                                <th>Bagis Sayısı</th>
                                <th>Ne kadar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nisan Yağmur Baş</td>
                                <td>Serkan Yıldırım</td>
                                <td>5</td>
                                <td>$320,800</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div><!-- .animated -->
