@model Bagisla.Models.Mesajlar  
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Iletisim", "Home", FormMethod.Post))
{
    <div class="col-md-6">

        <div class="alert alert-success hidden mt-lg" id="contactSuccess">
            <strong>Başarılı!</strong> Mesajınız bize gönderildi.
        </div>

        <div class="alert alert-danger hidden mt-lg" id="contactError">
            <strong>Hata!</strong> Mesajınızı gönderirken bir hata oluştu.
            <span class="font-size-xs mt-sm display-block" id="mailErrorMessage"></span>
        </div>

        <h2 class="mb-sm mt-sm"><strong>Contact</strong> Us</h2>
        <form id="contactForm" action="php/contact-form.php" method="POST">
            <div class="row">
               @if (ViewBag.result == true)
               {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-success fade in alert-dismissible" style="margin-top:18px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong>Gönderildi !</strong>
                        </div>

                    </div>
                    
                </div>

               }
               else if (ViewBag.result == false)
               {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-alert fade in alert-dismissible" style="margin-top:18px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong>Hata !</strong>
                        </div>

                    </div>

                </div>
               }
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Adınız *</label>
                        @Html.TextBoxFor(m=>m.Ad,new {@data_msg_required = "Lütfen Adınızı giriniz", maxlength = "100" ,@class="form-control", required= "required" })
                       
                    </div>
                    <div class="col-md-6">
                        <label>Mailiniz *</label>
                        @Html.TextBoxFor(m => m.Email, new {@data_msg_required = "Lütfen mailinizi giriniz", maxlength = "100", @class="form-control", required = "required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Konu</label>
                        @Html.TextBoxFor(m => m.Konu, new { @data_msg_required = "Lütfen Konuyu giriniz", maxlength = "100", @class = "form-control", required = "required" })


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Mesaj *</label>
                        @Html.TextAreaFor(m => m.Mesaj, new { @data_msg_required = "Lütfen Mesaj giriniz", maxlength = "140", @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Send Message" class="btn btn-primary btn-lg mb-xlg" data-loading-text="Yükleniyor...">
                </div>
            </div>
        </form>
    </div>
}



