
<div class="col-sm-5">

    <div class="user-area dropdown float-right">

        <h4 class="float-left" style="padding-top:5px;padding-right:5px">Ad Soyad</h4>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar rounded-circle" src="~/Content/ProfilPic/user.ico" alt="User Avatar">

        </a>
        <div class="user-menu dropdown-menu">
            <a class="nav-link" href="Profilim"><i class="fa fa- user"></i>Profilim</a>
            <a class="nav-link" href="LogOut"><i class="fa fa-power -off"></i>Çıkış</a>
        </div>
    </div>
</div>